@font-face {
  font-weight: 400;
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf") format("ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.ttf") format("ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf") format("ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.page {
  font-family: "Ubuntu", "Arial", sans-serif;
  min-height: 100%;
}

.header {
  background-color: #EAEEF0;
  margin-top: 5px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 510px) {
  .container {
    max-width: 320px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
}

@media (max-width: 510px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
}

.contacts-logo__img {
  margin-right: 9px;
}

.contacts-logo__svg {
  margin-right: 10px;
}

.contacts-logo__desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #002946;
}

.contacts-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 830px) {
  .contacts-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 510px) {
  .contacts-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contacts-contacts__mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #768189;
  margin-right: 50px;
}

@media (max-width: 830px) {
  .contacts-contacts__mail {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: right;
    margin-right: 35px;
  }
}

.contacts-contacts__tel {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #002946;
  margin-right: 5px;
}

.contacts-contacts__mobile {
  margin-right: 35px;
}

@media (max-width: 830px) {
  .contacts-contacts__mobile {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 0;
  }
}

.contacts-contacts__button {
  font-weight: 700;
  font-size: 13px;
  line-height: 26px;
  background-color: #002946;
  color: #fff;
  border: none;
}

@media (max-width: 830px) {
  .contacts-contacts__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header__top {
  background-color: #fff;
}

.header__bottom {
  background-color: #fff;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  padding-top: 20px;
  padding-bottom: 21px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 527px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-nav__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 527px) {
  .header-nav__catalog {
    padding-bottom: 20px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header-nav__desc {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #002946;
  margin-left: 10px;
  margin-right: 30px;
}

@media (max-width: 527px) {
  .header-nav__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 510px) {
  .header-nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-nav__list:not(:last-child) {
  margin-right: 51px;
}

@media (max-width: 649px) {
  .header-nav__list:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 510px) {
  .header-nav__list:not(:last-child) {
    margin-right: 10px;
  }
}

.header-nav__link {
  color: #002946;
}

@media (max-width: 527px) {
  .basket {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.basket-link {
  padding-left: 18px;
  padding-right: 20px;
}

.main {
  min-height: 100%;
}

.main__background {
  background-image: url(..//img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-container {
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.section-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 777px;
  position: relative;
  padding-top: 249px;
  padding-bottom: 70px;
}

.section-text__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.699);
}

.section-text__subtitle {
  font-weight: 700;
  font-size: 58px;
  line-height: 110%;
  color: #fff;
  margin-top: 10px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F7F7F8;
}

.main__container-features {
  width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .main__container-features {
    width: 550px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 486px) {
  .main__container-features {
    min-width: 320px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.features-card:not(:first-child) {
  padding-left: 27px;
  border-left: 2px solid #fff;
}

@media (max-width: 992px) {
  .features-card:not(:first-child) {
    padding-left: 0;
  }
}

.features-card__container {
  max-width: 223px;
  margin-top: 30px;
  margin-bottom: 44px;
}

@media (max-width: 486px) {
  .features-card__container {
    min-width: 320px;
  }
}

.features-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

.features-card__svg {
  fill: #002946;
}

.features-card__title {
  color: #002946;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  margin-left: 12px;
}

.features-card__desc {
  color: #768189;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.projects__container {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.projects__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 99px;
  padding-bottom: 40px;
  border-bottom: 2px solid #002946;
}

@media (max-width: 527px) {
  .projects__all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects__all-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #002946;
}

.projects__all-link {
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #005A8D;
}

.projects__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 100px;
}

@media (max-width: 930px) {
  .projects__projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.projects__projects-card {
  max-width: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects-facktory {
  background-image: url("..//img/factory.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 15px;
}

@media (max-width: 930px) {
  .projects-facktory {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.projects-company {
  background-image: url("..//img/company.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 15px;
}

@media (max-width: 930px) {
  .projects-company {
    margin-left: 0;
  }
}

.projects__projects-inner {
  background-color: #fff;
  max-width: 416px;
  padding-left: 30px;
  padding-right: 30px;
}

.projects__projects-desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #002946;
  padding-top: 10px;
}

.projects__projects-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #005A8D;
  margin-top: 5px;
}

.projects__projects-wrap {
  display: none;
}

.projects__projects-inner:hover .projects__projects-wrap {
  display: block;
  margin-top: 5px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */